.devices {
    padding: 1em;
}

.mac {
    font-size: 0.8em;
}

.devices-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2em;
    gap: 3em;
}

.devices-container > div {
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 5px;
    padding: 15px;
    column-gap: 1em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.devices-container div img {
    width: 40px;
    padding-top: 10px;
}
  
.devices-container > div:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: green;
}
  
.device-details {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}