<div class="login">
    <h3>Log in</h3>
    <form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          [(ngModel)]="email"
          #emailInput="ngModel"
          required
        />
        <div *ngIf="emailInput.invalid && emailInput.touched" class="error">
          Email is required and must be valid.
        </div>
      
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          [(ngModel)]="password"
          #passwordInput="ngModel"
          required
        />
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
          Password is required.
        </div>
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Submit</button>
    </form>    
</div>