:root {
    --primary-color: #4caf50;
    --secondary-color: #f1f1f1;
    --text-color: #333;
    --border-radius: 12px;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
    --hover-color: #388e3c;
    --background-color: #f9f9f9;
    --accent-color: #e0f7fa;
}

.navigation {
    display: grid;
    gap: 1.5em;
}

.navigation div {
    display: flex;
    gap: 0.5em;
}

.navigation div:hover {
    cursor: pointer;
}

.navigation div img {
    width: 25px;
    height: 25px;
}

.device {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
}

.device .info {
    margin-bottom: 2em;
}

.info img {
    width: 50px;
}

.side-bar {
    padding-right: 3em;
    border-right: 1px solid rgb(206, 206, 206);
}

.tab-navigation {
    padding-left: 3em;
}

button {
    border-radius: 5px;
}

h4 {
    margin-bottom: 1.5em;
}

.tab-pane {
    display: none; 
    opacity: 0;
    transition: opacity 0.5s ease;
}

.tab-pane:first-child {
    display: grid;
    gap: 1em;
}

.tab-pane.active {
    display: block; 
    opacity: 1;
}

.tab-pane:first-child form {
    display: flex;
    gap: 2em;
    align-items: center;
}

.tab-pane form div,
.tab-pane.active form div {
    display: flex;
    gap: 1em;
}

.tab-pane .tabs,
.tab-pane .tabs-threshold {
    display: flex;
    gap: 2em;
}

.tab-pane .tabs img,
.tab-pane.active .tabs img {
    width: 20px;
    height: 20px;
}

.tab-pane .tabs-threshold, 
.thresholds div {
    display: flex;
    gap: 0.5em;
}

.tabs {
    display: flex; 
    gap: 2em;
    margin-bottom: 1em;
}

.tabs div {
    display: flex;
    gap: 0.5em;
}

.tabs div:hover {
    cursor: pointer;
}

.tabs div img,
.thresholds div img {
    width: 20px;
    height: 20px;
}

.tab-pane .thresholds {
    display: grid;
    row-gap: 1em;
    margin-bottom: 2em;
}

.tab-pane.threshold-setter{
    display: grid;
    grid-template-columns: auto auto;
    gap: 3em;
}

.tab-pane.threshold-setter h4 {
    grid-column: 1 / -1;
}

.tab-pane.frequency form {
    display: grid;
    row-gap: 1em;
}

.tab-pane.frequency form label,
.tab-pane.frequency form input,
.tab-pane.frequency form select {
    width: 150px;
    outline: none;
}

.tab-pane.frequency form select {
    background-color: white;
}

.tab-pane.frequency form button {
    justify-self: start;
}

.tab-pane.thresholds h4 {
    grid-column: 1 / -1;
}

.tab-pane.thresholds {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3em;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 3em;
}

.pagination button {
    width: 100px;
    padding: 2px;
    font-size: 0.8em;
    margin-top: 1em;
}