<div class="device">
    <div class="info">
      <div>
        <p><strong>Device info:</strong> {{device.info}}</p>
        <p><strong>Device number:</strong> {{device.deviceNumber}}</p>
      </div>
      <img src={{iconPath}}>
    </div>

    <div class="watering">
        <h4>Watering</h4>
        <form (ngSubmit)="sendWaterRequest()">
          <div>
            <label for="wateringTime">Watering time (seconds):</label>
            <input
              id="wateringTime"
              type="number"
              [(ngModel)]="wateringTime"
              name="wateringTime"
              required
            />
          </div>
          <button type="submit">Start watering</button>
        </form>
    </div>

    <div class="measurements">
        <h4>Measurements</h4>
        <div class="tabs">
          <button
            *ngFor="let m of measurementEnumKeysFiltered"
            (click)="fetchMeasurements(m)"
            [class.active]="m === selectedMeasurementTab"
          >
            {{ getEnumValue(m) }}
          </button>
        </div>
        <div *ngIf="paginatedMeasurements.length" class="data">
          <div *ngFor="let measurement of paginatedMeasurements">
            <p><strong>Date:</strong> {{ measurement.date }}</p>
            <p><strong>Value:</strong> {{ measurement.value }}</p>
          </div>
          <div class="pagination">
            <button (click)="fetchMeasurements(selectedMeasurementTab, currentPage - 1)" [disabled]="currentPage === 0">
              Previous
            </button>
            <button (click)="fetchMeasurements(selectedMeasurementTab, currentPage + 1)">
              Next
            </button>
          </div>
        </div>
      </div>

    <div class="add-frequency">
      <h4>Update frequency</h4>
      <form (ngSubmit)="addFrequency()">
        <div>
          <label for="measurement">Measurement:</label>
          <select id="measurement" [(ngModel)]="selectedMeasurement" name="measurement">
            <option *ngFor="let m of measurementEnumKeys" [value]="m">{{m}}</option>
          </select>
        </div>
      
        <div>
          <label for="frequency">Frequency:</label>
          <input id="frequency" type="number" [(ngModel)]="frequencyValue" name="frequency" required />
        </div>
    
        <button type="submit">Set frequency</button>
      </form>
    </div>
  
    <div class="thresholds">
      <h4>Thresholds</h4>
      <div *ngFor="let t of thresholds">
        <p><strong>Measurement:</strong> {{t.measurement}}</p>
        <p><strong>Lower threshold:</strong> {{t.threshold.lower}}</p>
        <p><strong>Upper threshold:</strong> {{t.threshold.upper}}</p>
      </div>
    </div>
  
    <div class="add-threshold">
      <h4>Update threshold</h4>
      <form (ngSubmit)="addThreshold()">
        <div>
            <label for="measurement">Measurement:</label>
            <select id="measurement" [(ngModel)]="selectedMeasurement" name="measurement">
            <option *ngFor="let m of measurementEnumKeysFiltered" [value]="m">{{m}}</option>
            </select>
        </div>
  
        <div>
            <label for="min">Lower:</label>
            <input id="min" type="number" [(ngModel)]="thresholdMin" name="min" required />
        </div>
        
        <div>
            <label for="max">Upper:</label>
            <input id="max" type="number" [(ngModel)]="thresholdMax" name="max" required />
        </div>

        <button type="submit">Set threshold</button>
      </form>
    </div>
  </div>
  